@{
    Layout = null;
}

<form asp-action="AcceptConfirm" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="id" value="@ViewBag.OrderID" />

    <div class="modal-header text-bg-info">
        <strong class="modal-title">Duyệt đơn hàng</strong>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <div class="modal-body text-center">
        <div class="alert alert-info">
            Bạn có chắc muốn duyệt đơn hàng
            <strong>#@ViewBag.OrderID</strong> không?
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            Chấp nhận
        </button>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Đóng
        </button>
    </div>
</form>