@{
    Layout = null;
}

<form method="post" action="~/Order/Shipping">
    <!-- Chuyển sang POST -->

    <div class="modal-header text-bg-info">
        <strong class="modal-title">
            Chọn người giao hàng
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <div class="modal-body">

        <input type="hidden" name="id" value="@ViewBag.OrderID" />

        <div class="row">
            <div class="col-12">
                <label class="form-label">Người giao hàng</label>

                <select name="shipperId" class="form-select">
                    <option value="0">-- Chọn người giao hàng ---</option>

                    @foreach (var shipper in ViewBag.Shippers)
                    {
                        <option value="@shipper.ShipperID">
                            @shipper.ShipperName
                        </option>
                    }
                </select>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-bicycle"></i> Giao hàng
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Đóng
        </button>
    </div>

</form>